.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "container--feature container--topstory container--debate"
    "container--feature container--myturn container--opinion"
    "container--feature container--culture container--opinion"
    "container--feature container--morestories container--opinion"
    ". . container--opinion";
}

.container--feature {
  min-width: 265px;
  max-width: 372px;
}

.container--topstory {
  min-width: 397px;
  max-width: 536px;
}

.container--opinion {
  min-width: 274px;
  max-width: 371px;
}

.container--debate {
  min-width: 265px;
  max-width: 371px;
}
