.logo {
  width: 396px;
}

.mid-nav-bar a:hover,
.bot-nav-bar a:hover {
  color: red;
  background-color: white;
}

.container-mid-nav-bar ul {
  line-height: 5px;
}

.container-mid-nav-bar,
.container-bot-nav-bar {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 260px repeat(5, auto);
  grid-template-areas:
    "container--feature container--topstory container--debate"
    "container--feature container--topstory container--opinion"
    "container--feature container--myturn container--opinion"
    "container--feature container--culture container--signup"
    "container--feature container--morestories container--signup"
    ". . container--signup";
}

.color-nav {
  height: 90px;
}

.container--feature {
  min-width: 265px;
  max-width: 372px;
}

.container--topstory {
  min-width: 397px;
  max-width: 536px;
}

.container--opinion {
  min-width: 274px;
  max-width: 371px;
}

.container--debate {
  min-width: 265px;
  max-width: 371px;
}

/* EXTRA */
