.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "container--feature container--topstory container--debate"
    "container--feature container--myturn container--debate"
    "container--feature container--culture container--debate"
    "container--feature container--morestories container--debate"
    ". . container--debate";
  gap: 30px;
  padding: 0 30px;
}

.container--feature {
  min-width: 275px;
  max-width: 372px;
}

.container--topstory {
  min-width: 397px;
  max-width: 536px;
}

.container--debate {
  min-width: 274px;
  max-width: 371px;
}
