body {
  background-color: white;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "container--feature container--topstory"
    "container--feature container--myturn"
    "container--feature container--culture"
    "container--feature container--morestories"
    "container--debate container--debate "
    "container--opinion container--opinion";
  /* gap: 30px; */
}

.container--feature {
  min-width: 339.3px;
  max-width: 438px;
}

.container--topstory {
  min-width: 414px;
  max-width: 536px;
}

.container-figure {
  margin: 0;
}
